.AllContanier {
  height: 99%;
  width: 100%;
  // background: powderblue;
}

.myDetail {
  height: 98%;
  // background-color: plum;
  overflow-y: auto;
  .myDetail_form {
  }
}

.otherDetail {
  height: 40vh;
}

.form-group {
  > :global(.arco-card) {
    h6 {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
}


.form-group {
  > :global(.arco-card) {
    h6 {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
}
